{% extends 'base.html' %}
{%load bootstrap4%}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <!-- <h1>Welcome to HoodWatch</h1> -->    
    <div class="row">
                <!--Section: Content-->
            <section class="text-center white-text d-md-flex justify-content-between p-5 indigo lighten-2">
          
              <!-- <h3 class="font-weight-bold mb-md-0 mb-4 mt-2 pt-1">Lorem ipsum dolor sit amet.</h3> -->
              
              <a href="{% url 'new-hood' %}" type="button" class="btn btn-white btn-rounded">Add your hood</a>
          
            </section>
            <!--Section: Content-->
        {% for hood in all_hoods %}
        <div class="col-md-4">
            <div class="card mb-4" style="min-height:340px">
                <img src="{{ hood.image.url }}" class="card-img-top" alt="{{ hood.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ hood.name }}  ({{hood.location}}) <span style="float:right">{{hood.members.count}} member{{hood.members.count|pluralize}}</span></h5>
                    <p class="card-text">{{hood.description}}</p>
                    {% if request.user.profile.neighbourhood == hood %}
                    <a href="{% url 'leave-hood' hood.id %}" class="btn btn-outline-danger btn-sm">Leave Hood</a>
                    {% elif not request.user.profile.neighbourhood %}
                    <a href="{% url 'join-hood' hood.id %}" class="btn btn-primary btn-sm">Join Hood</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Card deck -->

</div>

{% endblock %}